.score {
    display: flex;
    flex-direction: column;
}

.score__title {
    font-size: calc(24px + 1vmin);
    padding-bottom: 30px;
    color:rgba(255,255,255,0.9);
    text-shadow: 5px 5px 15px #111;
}

.score__count,
.score__null,
.score__full {    
    padding-left: 10px;
    padding-right: 10px;
    font-size: calc(34px + 1vmin);
}

.score__null {
    color: red;
}

.score__full {
    color: rgb(0, 225, 0);
}

.details__btn,
.restart__btn {
    font-size: calc(10px + 1vmin);
    color:  #1c1c1c;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    background-color:rgba(255,255,255,0.6);
    border: 2px solid rgba(255,255,255,0.8);
    margin: 5px 0;
    outline: none;
    
}

.details__btn:hover,
.restart__btn:hover {
  background-color: #1e88e5;
  transition: all 0.3s;
  color: #fff;
}

