.score {
    display: flex;
    flex-direction: column;
}

.score__title {
    font-size: calc(24px + 1vmin);
    padding-bottom: 30px;
    color:rgba(255,255,255,0.9);
    text-shadow: 5px 5px 15px #111;
}

.score__count,
.score__null,
.score__full {    
    padding-left: 10px;
    padding-right: 10px;
    font-size: calc(34px + 1vmin);
}
/** Если нет правильных ответов */
.score__null {
    color: red;
}
/** Общее количество вопросов */
.score__full {
    color: rgb(0, 225, 0);
}