.App {
  background-image: url("image/bg-default-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: calc(8px + 1vmin); */
  color: #1c1c1c;
  }